.container {
  height: 100vh;
  overflow: hidden;
  background: url('/LoopyOS/background.webp');
  background-size: cover;
  background-position: center center;
}

.username {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
}

.window {
  display: inline-block;
  background-color: red;
}

.taskBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  background-color: #ffffff18;
  display: flex;
  align-items: center;
  padding: 0 0.8rem;
  backdrop-filter: blur(50px);
}

.time {
  font-weight: 400;
  text-align: right;
  font-size: 1rem;
}

.flexGrow {
  flex-grow: 1;
}

.startMenuUpper {
  text-align: center;
}

.startMenu {
  position: fixed;
  bottom: 4rem;
  left: 0.5rem;
  height: 25rem;
  width: 25rem;
  background-color: #ffffff18;
  display: flex;
  backdrop-filter: blur(50px);
  border-radius: 0.5rem;
}

.logo {
  width: 2.4rem;
  height: 2.4rem;
}

.taskBarButton {
  display: flex;
  background: none;
  padding: 0.2rem;
  border-radius: 0.2rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #0000002d;
  }
}

.windowConstraints {
  height: calc(100vh - 3.5rem);
}
